/* BODY STYLING */

body {
    font-family: 'Raleway';
    background-color: #FFF8BC;
}

p {
    color: #434242;
}

* {
    box-sizing: border-box;
}

.row {
    margin: 0;
}

/* NAVIGATION */

.navbar {
    background-color: #434242 !important;
}

.navbar-brand {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(244, 157, 26) !important;
}

.navbar-nav {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-left: 50px;
    color: rgb(244, 157, 26);
}

.navbar-nav .nav-item {
    padding: 10px;
}

.navbar .navbar-nav .nav-item a:hover {
    text-decoration: underline;
    color: #FFE15D !important;
}

.navbar .navbar-nav .nav-item a:visited {
    color: rgb(244, 157, 26);
}

.navbar .navbar-nav .nav-item a {
    color: rgb(244, 157, 26);
}

/* BANNER */

.span-1 .span-3 {
    font-size: 2rem;
    color: #434242;
}

.span-2 {
    font-size: 2rem;
    color: #820000;
}

.banner {
    width: 100%;
    height: 50px;
    background-color: rgba(244, 157, 26, .6);
    text-align: end;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 100px;
    color: #434242;
}

.container-fluid {
    padding: 0;
}

/* JUMBOTRON */

.jumbotron {
    background-color: #FFF8BC;
    margin: 0 auto;
}

.jumbotron .moogle {
    width: 150px;
    padding-top: 100px;
}

.jumbotron .about {
    text-align: center;
    padding: 20px;
}

.jumbotron .col1 .col2 .col3{
    margin: 20px;
}

.top-text {
    padding: 50px;
}

/* CARDS */

.cardContainer {
    margin: 15px 0 15px 0;
}

.card {
    width: 100%;
    margin: 0 auto;
    background-color: #FFF8BC;
    border: 0;
}

.card-title {
    font-weight: 600;
    color: #434242;
    text-align: center;
}

.card-title:hover {
    color: crimson;
    text-decoration: underline crimson;
}

.card-text {
    text-align: center;
    color: #434242;
}

/* CONTACT */

footer {
    margin: 0 auto;
    padding: 50px 0;
}

.icon-item {
    font-size: 36px;
    color: #434242;
    margin: 25px 30px;
}

.icon-item:hover {
    color: crimson;
    box-shadow: 3px 5px 5px #434242;
}

/* SKILLS */

.col3 {
    text-align: left;
}

.skills-row {
    margin: 50px 0 50px 0;
}

.hopes-start {
    font-size: 24px;
    font-weight: 600;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    .banner {
        text-align: left;
        padding-left: 20px;
        font-size: 1rem;
        height: 1.75rem;
    }

    .jumbotron .moogle {
        padding-bottom: 30px;
    }

    .jumbotron .about {
        border: 0;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .banner .span-1 {
        font-size: 1rem;
        padding-left: 20px;
    }

    .banner {
        padding: 0;
    }

    .banner .span-2 {
        font-size: 1rem;
    }

    .card {
        width: 100%;
    }

    .sm-img {
        margin: 0;
        width: 100%;
    }

    .icon-item {
        margin: 15px 20px;
    }
}