/* BODY STYLING */

body {
    font-family: 'Raleway';
    background-color: #FFF8BC;
}

* {
    box-sizing: border-box;
  }

/* NAVIGATION */

.navbar {
    background-color: #434242 !important;
}

.navbar-brand {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(244, 157, 26) !important;
}

.navbar-nav {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-left: 50px;
    color: rgb(244, 157, 26);
}

.navbar .navbar-nav .nav-item a:hover {
    text-decoration: underline;
    color: white !important;
}

.navbar .navbar-nav .nav-item a {
    color: rgb(244, 157, 26);
}

/* BANNER */

.banner {
    width: 100%;
    height: 50px;
    background-color: rgba(244, 157, 26, .6);
    text-align: end;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 100px;
    color: #434242;
}

.container-fluid {
    padding: 0;
}

/* MEDIA QUERIES */

  @media screen and (max-width: 1000px) {
    .banner {
        text-align: left;
        padding-left: 20px;
        font-size: 1.5rem;
        height: 75px
    }

    .navbar-brand {
        font-size: 2rem;
    }
  }

 